$family: "Inter", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@use "vuetify" with (
  $body-font-family: $family
);

* {
  font-family: $family;
}

.shadow {
  box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.09),
    0 4px 10px rgba($color: #000000, $alpha: 0.08) !important;
}

.label {
  font-family: $family;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 8px;
  cursor: pointer;
}

// Curve the inputs
.v-field__outline__start {
  border-radius: 7px 0 0 7px !important;
}
.v-field__outline__end {
  border-radius: 0 7px 7px 0 !important;
}
// Style password fields
input[type="password"] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}
